header:before {
    background-color: rgba(0, 0, 0, 0.3);

    content: "";

    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    
    height: 100%;
    z-index: 1;
}

header {
    background: url('../img/background.jpg');
    background-size: cover;
    background-position: center;

    position: relative;
    
    width: 100%;
    height: 45vh;
}

header nav {
    background: linear-gradient(110deg, rgba(246,208,109,1) 0%, rgba(223,156,28,1) 35%, rgba(161,72,4,1) 100%);

    border-color: wheat;
    border-style: inset;
    border-width: 5px 0px;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    position: absolute;
    bottom: 0;

    width: 100%;
    min-height:75px;

    z-index: 2;
}

header nav ul li a, ul.sidenav li a {
    font-size: 23px;
    font-weight: bolder;
}

header nav ul li a:hover, ul.sidenav li a:hover {
    font-size: 25px;
}

header nav ul li a, header nav div a.brand-logo, ul.sidenav li a, section h4 {
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

header nav ul li a:hover, header nav div a.brand-logo:hover, ul.sidenav li a:hover {
    -webkit-text-fill-color: green;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

footer {
    background-color: black;

    min-height: 50vn;

    padding: 30px;
}

footer .footer-copyright {
    color: white;

    cursor: default;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;

    padding: 5px;

    transition: 0.5s;
}

footer .footer-copyright:hover {
    font-size: 18px;
}

footer .svg-link {
    margin: 0px 12px;
}

footer .svg-link img.circle {
    width: 35px;
    height: 35px;
    transition: 0.5s;
}

footer .svg-link img.circle:hover {
    width: 45px;
    height: 45px;
}

ul.sidenav {
    background: linear-gradient(110deg, rgba(246,208,109,1) 0%, rgba(223,156,28,1) 35%, rgba(161,72,4,1) 100%);
    
    border-right: 3px outset white;

    height: 100%;
}

section {
    background: linear-gradient(139deg, rgba(246,208,109,0.8) 0%, rgba(223,156,28,0.8) 35%, rgba(161,72,4,0.8) 100%);

    border: 5px outset gainsboro;
    border-radius: 10px;
    
    margin: 25px auto;
    padding: 25px;
}

div.slider {
    background: linear-gradient(264deg, rgba(71,223,28,1) 0%, rgba(171,109,246,1) 50%, rgba(71,223,28,1) 100%);

    border: 5px inset wheat;
    border-radius:50px;

    font-family: Arial, Helvetica, sans-serif;

    overflow: hidden;

    height: 650px !important;
}

ul.slides {
    height: 600px !important;
}

div.slider div.card {
    background-color: white;

    border: 10px dashed red;

    box-shadow: 5px 5px 5px black;

    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: greenyellow;
}

div.slider img {
    border-bottom: 5px inset wheat;

    overflow: hidden;
}

.modal {
    border: 3px outset orange;
    
    max-width: 500px;

    margin: 20px auto;
    padding: 20px;
}

div.icon-block { 
    background-color: white;

    border: 5px outset black;
    border-radius: 20px;

    min-height:600px;

    margin: 10px;
    padding: 10px;
}

div.icon-block:hover {
    background-color: palegoldenrod;
    
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orangered;
}

div.icon-block i {
    font-size: 70px;
}

#form-user-search, #table-user, #form-projects-search,
#table-projects, #form-tasks-search, #table-tasks,
#form-requests-search, #table-requests {
    background-color: white;

    border: 3px solid black;
}

#table-user tbody tr, #table-projects tbody tr, 
#table-tasks tbody tr, #table-requests tbody tr{
    cursor: pointer;
}

img.circle {
    background-size: cover;

    width: 250px;
    height: 250px;
}

#modal-task-add.modal, #modal-task-edit.modal{
    max-width: 800px;
}

.dropdown-content {
    max-height: 350px !important;
    overflow-y: auto !important;
    backface-visibility: hidden !important;
}

#section-table {
    min-height: 850px;
}

table {
    border-spacing: 2px;
}

table th, table td {
    padding: 12px;
}

.sidenav-footer {
    color: white;
    background-color: black;

    border-top: 3px inset white;

    position: absolute;
    bottom: 0;

    padding: 5px;

    width: 100%;
    min-height: 15%;
}

.sidenav-footer .footer-copyright {
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.sidenav-footer .svg-link {
    margin: 0px 10px;
}

.sidenav-footer .svg-link img.circle {
    width: 28px;
    height: 28px;
    transition: 0.5s;
}

.sidenav-footer .svg-link img.circle:hover {
    width: 35px;
    height: 35px;
}
